{% extends 'layout.html' %}

{% block content %}
    {% if projects|length == 0 %}
        <div class="bg-light">
            <p>Unable to find projects, check that you have added at least one integration in the 
                <a href="/accounts/profile/">profile page</a>.</p>
        </div>
    {% endif %}

    {% for eachProject in projects %}
        <div class="bg-light">
            <h3>{{eachProject.repoGeneralData.name}}</h3>
            <p><a href="{{eachProject.repoGeneralData.githubUrl}}">Github link</a></p>
            <p>{{eachProject.repoGeneralData.description}}
            <div class="timeline">
                <p>Timeline</p>
                <p>Created: {{eachProject.timelineData.createdAt}}</p>
                <p>Last Update: {{eachProject.timelineData.updatedAt}}</p>
            </div>
            <div class="ICStats">
                <p>Individual Contributor Stats</p>
                <p>Summary: {{eachProject.icStatsData.summary}}</p>
                <p>Code Stats: {{eachProject.icStatsData.codeStats}}</p>
                <p>Doc Stats: {{eachProject.icStatsData.docStats}}</p>
                <p>Test Stats: {{eachProject.icStatsData.testStats}}</p>
            </div>
            <div class="ReviewerStats">
                <p>Reviewer Stats</p>
                <p>Summary: {{eachProject.reviewerStatsData.summary}}</p>
                <p>Code Stats: {{eachProject.reviewerStatsData.codeStats}}</p>
                <p>Doc Stats: {{eachProject.reviewerStatsData.docStats}}</p>
                <p>Test Stats: {{eachProject.reviewerStatsData.testStats}}</p>
            </div>
            <div class="IssueStats">
                <p>Issues Stats</p>
                <p>Issues Total: {{eachProject.issuesStatsData.issuesTotal}}</p>
                <p>Issues Open For Repo: {{eachProject.issuesStatsData.issuesOpenForRepo}}</p>
                <p>Issues Closed For Repo: {{eachProject.issuesStatsData.issuesClosedForRepo}}</p>
                <p>Issues Created By User: {{eachProject.issuesStatsData.issuesCreatedByUser}}</p>
                <p>Issues Assigned To User: {{eachProject.issuesStatsData.issuesAssignedToUser}}</p>
                <p>Issues Closed By User: {{eachProject.issuesStatsData.issuesClosedByUser}}</p>
            </div>            
        </div>
    {% endfor %}
{% endblock %}
