{% extends 'portfolio/layout.html' %}

{% block content %}
    {% for eachProject in projects %}
        <div class="bg-light">
            <h3>{{eachProject.name}}</h3>
            <p><a href="{{eachProject.githubLink}}">Github link</a></p>
            <div class="timeline">
                <p>Timeline</p>
                <p>{{eachProject.timelineData}}</p>
            </div>
            <div class="ICStats">
                <p>Individual Contributor Stats</p>
                <p>{{eachProject.icStatsData}}</p>
            </div>
            <div class="ReviewerStats">
                <p>Reviewer Stats</p>
                <p>{{eachProject.reviewerStatsData}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
